# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Testes
.coverage
htmlcov/
.pytest_cache/
*.class
test-run.*
jacoco.exec
surefire-reports/
maven-status/
jacoco/
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ambiente
.env
*.env.local

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
